BODY {
	SCROLLBAR-FACE-COLOR: #E8E8E8; 
	SCROLLBAR-HIGHLIGHT-COLOR: #E6E6E6; 
	SCROLLBAR-SHADOW-COLOR: #bdbdbd; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #525252; 
	SCROLLBAR-TRACK-COLOR: #f4f4f4; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	font-family: ±¼¸²; 
	font-size: 9pt; 
	color: #FFFFFF;
}
A {color:#3D3D3D ;font-size: 9pt; text-decoration: none}
A:visited {color:#3D3D3D;font-size: 9pt}
A:active {color:#3D3D3D;font-size: 9pt}
A:hover {text-decoration: none; color:5966fe;text-decoration:underline}
.font {font-size:9pt ; color:807F80;}
td {font-size:9pt; color:#3D3D3D; line-height:150%;text-decoration:none}
.txt_history {font-size:8pt; color:#3D3D3D;}
.td_guide {font-size:8pt; color:#3D3D3D; line-height:150%;text-decoration:none}